<title>Your Closet</title>
<h1>Hi, <%= @user.first_name %></h1>
<h2>Welcome to DressShare.</h2>

<p>You have <%= pluralize(@user.dresses.count, "dress") %> in your closet.</p>

<ul>
<% @user.dresses.each_with_index do |dress, i| %>
  <li>
    <ul><b>
    <%= "Dress #{i+1}" %></b>
    <small><%= link_to "Edit Dress", edit_dress_path(dress) %></small>
    <li>Brand: <%= dress.brand %></li>
    <li>Size: <%= dress.size %></li>
    <li>Flattering On:<%= dress.body_type %></li>
    <li>Comments: <%= dress.notes %></li>
    <li>Rental Price: <%= dress.rent %></li>
  </li>
<% end %>
</ul>
<br>
<br>
<br>
<%= link_to "Add A New Dress", new_dress_path %>
<br>
<%= link_to "Rent A Dress", dresses_path %>