<p> * Marks mandatory fields. </p>
<%= simple_form_for @dress do |f| %>
  <%= f.input :brand %>
  <%= f.input :color %>
  <%= f.input :size, :label => "Fits like a size X. (I wish Sisterhood of Traveling Pants existed too.)", :item_wrapper_class => 'inline', :collection => Dress::SIZES, :as => :radio_buttons%>
  <br>
  <%= f.association :body_types, :label_method=> :label, :as => :check_boxes%>
  <br>
  <%= f.input :rent, :hint => " No Collis Baked Goods: USD only. (Dresses are rented for 2 days.)" %>
  <br>
  <%= f.file_field :photo %>
  <br>

  <%= f.input :notes, :label => "Notes for the renters. Special instructions. Sentimental memories about that time you wore this to formal and ... Nevermind." %>
  <%= f.button :submit %>
<% end %>