<title>The Closet</title>

<h1>The Closet</h1>
<%= @dresses.each do |dress| %>
  <li>
    <ul><b>
    <%= "Dress #{i+1}" %></b>
    <small><%= link_to "Edit Dress", edit_dress_path(dress) %></small>
    <li>Brand: <%= dress.brand %></li>
    <li>Size: <%= dress.size %></li>
    <li>Flattering On:<%= dress.body_type %></li>
    <li>Comments: <%= dress.notes %></li>
    <li>Rental Price: <%= dress.rent %></li>
  </li>
<% end %>
</ul>