<!DOCTYPE html>
<html>
<head>
  <title>DressSharing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
    <header class="navbar navbar-inverse">
      <div class="navbar-inner">
        <%= link_to "Whiteboard", signin_path, class: "brand" %>
        <ul class="nav">
          <li><%= link_to "Home", signin_path %></li>
          <%if session[:session_token] == nil %>
            <li><%= link_to "Sign-In", signin_path %></li>
          <%else%>
            <li><%= link_to "Sign-Out", signout_path %></li>
          <%end%>
          <li><%= link_to "About Us", aboutus_path %></li>
          <li><%= link_to "Contact",  contact_path %></li>
          <li><%= link_to "Sign-Up", signup_path %></li>
        </ul>
      </div>
    </header>

<%= yield %>

  <footer>
    <hr>
    &copy; {Sassy Hash} 2013
  </footer

</div>

</body>
</html>
